html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,"WenQuanYi Micro Hei",Verdana,sans-serif,"\5B8B\4F53";
    font-size: 14px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    & > ui-view{
        height: 100%;
        width: 100%;
    }
}